<template>
  <div>
    <!-- separate component for import is comming-->
  </div>
</template>
<script>
export default {
  name: 'import',
  props: ['jsonData'],
  data() {
    return {
    }    
  }
}
</script>
<style scoped>
</style>