<!-- next MySQL DB 
   https://www.youtube.com/watch?v=jybWdx6w3g4 
   https://github.com/kolpokkajal/VueJS-CRUD-WITH-PHP-AND-MySQL   
   -->

<template>
<div>
<!-- HEADER -->
  <header id="top">
    <img class="metavrselogo" src="./assets/metavrselogo.svg" alt="metaVRse">
    <h1><span>I</span>mmersive <span>M</span>edia <span>B</span>ullshit <span>B</span>ingo</h1>
    <p>The <span>IMBB</span> is a <a href="#footer">free web glossar</a> and knowledge database of tutorials, hardware, software or whatever VR / AR / XR related.</p>

<!-- ERROR HANDLING -->
    <noscript>
      <p>Sorry but the but <strong>Immersive Media Bullshit Bingo Glossar</strong> is  mighty by JavaScript and doesn't work at all without it enabled. Please get a modern browser and enable JS to continue. We don't track you and it's worth it :-)</p>
    </noscript>
    <aside v-if="errors && errors.length" class="error">
      <ul>
        <li :key="i" v-for="(error, i) of errors">
          {{ error.message }}
        </li>
      </ul>
    </aside>

<!-- FILTER -->
    <section class="filter" id="totop">
      <input 
        placeholder="free search or use keywords ..."
        type="text" 
        v-model="keywordsFilter" 
        @input="forceLowerCase($event, keywordsFilter)"><br>
          <button v-if="keywordsFilter" @click="addKeywordFilter('')">X</button>
          <button v-if="!keywordsFilter"><img src="./assets/search.svg" alt="search" title="search"></button>
    </section>
    <button
      @click="addKeywordFilter(keyword)"
      v-for="keyword in keywordsAll" :key="keyword">
        {{ keyword }} 
    </button>

<!-- LOADER -->
    <figure v-if=" json && json === null" class="loader">
      <img src="./assets/loadgrid.svg" alt="loading">
      <figcaption>loading</figcaption>
    </figure>  
  </header>

<!-- MAIN DATA -->
  <main id="wrapper">
    <article 
      :key="i" v-for="(itemJSON, i) in json"
      v-if="
        itemJSON.Tag.includes(keywordsFilter) 
        || (itemJSON.Object.indexOf(keywordsFilter) !== -1 )
        || (itemJSON.Description.indexOf(keywordsFilter) !== -1 )
        || (keywordsFilter === null) 
        ">
      <header>
        <h2>{{ itemJSON.Object }}</h2>
        <a href="#totop"><img src="./assets/totop.svg" alt="to top" title="to top"></a>
      </header>
      <main>
        <p>{{ itemJSON.Description }}</p>
        <p>
          <a :href="itemJSON.Link" target="_blank">
            <span class="webLink"><img src="./assets/link.svg" alt="Website" title="Website"> </span>
            {{ itemJSON.Link.substring(0,30) }}...
          </a>
        </p>
        <!-- <p>More: 
          <a 
            target="_blank"
            :key="num" v-for="(linkItem, num) in itemJSON.Link"
            :href="linkItem.url"
          >{{ linkItem.name }}</a>
        </p> -->
          
      </main>
      <nav>
        <a
          href="#totop"
          @click="addKeywordFilter(tagItem)"
          :key="j" v-for="(tagItem, j) in itemJSON.Tag">
            {{ tagItem }} 
            {{ addKeywordAll(tagItem) }}
        </a>
      </nav>
    </article>
  </main>

<!-- FOOTER -->
  <footer id="footer">
    <p>IMBB is <a href="http://digitalpraxis.de/" target="_blank">my</a> try to collect resources when 
      <a href="https://www.metavrse.de/" target="_blank">experimenting and leraning WebXR</a> using 
      tools like the <a href="http://www.aframe.io/" target="_blank">Mozilla supported aframe.io</a> or a 
      <a href="https://theta360.com/" target="_blank">360&deg; cam</a>. 
      More <a href="https://blog.metavrse.de/" target="_blank">WebXR on my metaVRse blog</a> 
      where I pick stuff around AR / VR / MR / XR ... 
      or let's meet at the <a href="http://webxr-berlin.de/" target="_blank">WebXR Meetup in Berlin</a> I co-organize!
    </p>
    <p>If you have something to share I missed <a href="mailto:info@metavrse.de">contact me on info@metavrse.de</a>!</p> 
  </footer>
  
</div>
</template>

<script>
export default {
  data() {
    return {
      keywordsFilter: '',
      keywordsAll: [],
      json: null,
      url: './imbb.json',
      errors: []
    } //return
  }, //data
  computed: {
  },
  methods: {
    forceLowerCase(e, prop) {
      const start = e.target.selectionStart;
      e.target.value = e.target.value.toLowerCase();
      this.$set(prop, e.target.value);
      e.target.setSelectionRange(start, start);
    },
    addKeywordAll(tagItem){
      if(!this.keywordsAll.includes(tagItem))
        this.keywordsAll.push(tagItem);
    },
    addKeywordFilter(tagItem){
      this.keywordsFilter = tagItem.toLowerCase();
      // this.keywordsFilter.push(tagItem);
    }
  },

created() {
    fetch(this.url)
    .then(r => r.json())  
    .then(json => this.json=json)
    .catch(error => this.errors.push(error));      
  }
} 
</script>

<style>
/*  global */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700); */
@import url(./assets/style.css);

</style>
